@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-primary: #4EB075;
  --color-textColor: #377550;
  --color-greenColor: #d5fce4;
  --color-secondary: #0E2432;
  --color-gray: #525c63;
  --color-tertiary: #FFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-primary {
  background-color: var(--color-primary);
}
.bg-greenColor {
  background-color: var(--color-greenColor);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-primary {
  color: var(--color-primary);
}

.text-textColor {
  color: var(--color-textColor);
}

.text-gray {
  color: var(--color-gray);
}