@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-primary: #4EB075;
  --color-textColor: #377550;
  --color-greenColor: #d5fce4;
  --color-secondary: #0E2432;
  --color-gray: #525c63;
  --color-tertiary: #FFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

select {
  appearance: none; /* Remove a aparência padrão do navegador */
  -webkit-appearance: none; /* Remove a aparência padrão no Safari */
  -moz-appearance: none; /* Remove a aparência padrão no Firefox */
  padding: 8px 12px; /* Ajusta o padding interno */
  background-color: #ffffff; /* Define uma cor de fundo clara */
  border: 1px solid #ccc; /* Define uma borda */
  border-radius: 4px; /* Define cantos arredondados */
  font-size: 16px; /* Ajusta o tamanho da fonte */
  color: #333; /* Define a cor do texto */
  width: 100%; /* Define a largura como 100% do contêiner */
  height: 40px; /* Ajusta a altura */
}

select:focus {
  outline: none; /* Remove o contorno padrão ao focar */
  border-color: var(--color-primary); /* Define a cor da borda ao focar */
  box-shadow: 0 0 0 2px rgba(78, 176, 117, 0.2); /* Adiciona um efeito de sombra */
}

@supports (-webkit-touch-callout: none) {
  select {
    background-color: #ffffff; /* Certifica-se de que a cor de fundo é branca */
    border-radius: 4px; /* Define cantos arredondados */
    border: 1px solid #ccc; /* Define uma borda */
    height: 40px; /* Ajusta a altura */
  }

  select:focus {
    border-color: var(--color-primary); /* Define a cor da borda ao focar */
    box-shadow: 0 0 0 2px rgba(78, 176, 117, 0.2); /* Adiciona um efeito de sombra */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-primary {
  background-color: var(--color-primary);
}
.bg-greenColor {
  background-color: var(--color-greenColor);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-primary {
  color: var(--color-primary);
}

.text-textColor {
  color: var(--color-textColor);
}

.text-gray {
  color: var(--color-gray);
}