@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-primary: #4EB075;
  --color-textColor: #377550;
  --color-greenColor: #d5fce4;
  --color-secondary: #0E2432;
  --color-gray: #525c63;
  --color-tertiary: #FFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

select {
  appearance: none; /* Remove a aparência padrão do navegador */
  -webkit-appearance: none; /* Remove a aparência padrão no Safari */
  -moz-appearance: none; /* Remove a aparência padrão no Firefox */
  padding: 8px 12px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  width: 100%;
  height: 40px;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>'); /* Adiciona um ícone de seta */
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 20px 20px;
}

select:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: 0 0 0 2px rgba(78, 176, 117, 0.2);
}

@supports (-webkit-touch-callout: none) {
  select {
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 40px;
  }

  select:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 2px rgba(78, 176, 117, 0.2);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-primary {
  background-color: var(--color-primary);
}
.bg-greenColor {
  background-color: var(--color-greenColor);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-primary {
  color: var(--color-primary);
}

.text-textColor {
  color: var(--color-textColor);
}

.text-gray {
  color: var(--color-gray);
}
